<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome buddy</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
  <div class="form-group">
  <div class="col-md-4">
    <button id="logoutbtn" name="logoutbtn" class="btn btn-danger" onclick="logout()">Logout</button>
  </div>
</div>
<script type="text/javascript">
  function logout (argument) {
    window.location="/logout";
    // body...
  }
</script>
<br><br>
    <center><h3>Hey {{user.first_name}} {{ user.last_name }}!<br> Welcome </h3>
    <br><br><br><br><h3>Using this web application you can easily send mails and messages to the other faculty members of any department and that message will be sent directly to their email accounts. From there they can reply directly.</h3>
		<div class="form-group">
		  <label class="col-md-4 control-label" for="send"></label>
		  <div class="col-md-4">
		    <button id="send" name="send" class="btn btn-success" onclick="fun();">Send Mail</button>
		  </div>
		</div>
		<script type="text/javascript">function fun () {
			// body...
			window.location="/sendmail";
		}</script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
    </center>
	</body>
</html>