<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Send email</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style type="text/css">
      .form-control,.form-control:focus{
        border-radius: 0;
        box-shadow: none;
      }
      textarea{
        resize:none;
        min-height: 140px;
      }
    </style>
  </head>
  <body>
  <form class="form-horizontal" method="post" action="">
  {% csrf_token %}
      <fieldset>

      <!-- Form Name -->
      <legend>Send Email to Notify Others</legend>

      <!-- Text input-->


      <div class="form-group">
        <label class="col-md-4 control-label" for="reciever">To:</label>  
        <div class="col-md-4">
        <input id="reciever" name="reciever" type="text" placeholder="Email Address Of Reciever" class="form-control input-md" required="">
          
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="subject">Subject</label>  
        <div class="col-md-4">
        <input id="subject" name="subject" type="text" placeholder="subject" class="form-control input-md" required="">
          
        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="message">Message</label>
        <div class="col-md-4">                     
          <textarea class="form-control" id="message" name="message" placeholder="Write your message"></textarea>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="submit"></label>
        <div class="col-md-4">
          <button id="submit" name="submit" class="btn btn-primary">Send Mail</button>
        </div>
      </div>

      </fieldset>
      </form>
  </body>
</html>
<html>    